@(gameId: Long)
@main("Game") {
 

    <div id="ping"></div>

	<script type="text/javascript" charset="utf-8" src="@routes.Application.socketJs(gameId)"></script>
	<div id="the whole thing" style="height:100%; width:100%; overflow: hidden;">
		<div id="here_table" style="float: left; padding-right: 1cm;"></div>
    	<div style="float: left">
    		<h4 class="panel-body">Moves:</h4>
    		<div id="" style="overflow-y: scroll; height:400px;">
    		<ul id="moves_list" class="list-group">
    		
    		</ul>
    		</div>
    	</div>
    	
	</div>
	 
}
