@(title: String)(content: Html)
<!DOCTYPE html>

<html>
<head>
<title>@title</title>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body>
		<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Online Chess</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href='@routes.Application.index()'>Home</a></li>
      @if(!session.containsKey("username")){
			<li><a href='@routes.Application.login()'>Login</a></li>
			<li><a href='@routes.Application.register()'>Register</a></li>
		} else {
			<li><a href='@routes.Application.newGame()'>New Game</a></li>
			<li><a href='@routes.Application.myGames()'>My Games</a></li>
			<li><a href='@routes.Application.logout()'>Logout</a> </li>
		}
		
    </ul>
  </div>
</nav>
		
		
		<div  class="container">
		@content
		</div>
</body>
</html>
